<header class="site-header">
  <div class="shell header-inner">
    <a class="brand" href="/" aria-label="AntennaBench home">
      <img src="/mark.svg" width="42" height="42" alt="" />
      <span>AntennaBench</span>
    </a>
    <nav aria-label="Main navigation">
      <a href="/how-it-works/">How it works</a>
      <a href="/why-wspr/">Why WSPR?</a>
      <a href="/sample-report/summary/">Sample Summary</a>
      <a class="nav-github" href="https://github.com/rwjblue/antennabench">GitHub <span aria-hidden="true">↗</span></a>
    </nav>
  </div>
</header>
